@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './themes.css';
@import 'themes.css';
@import 'react-toastify/dist/ReactToastify.css';

.button-base {
  @apply border-2 rounded-md font-bold;
}

:root {
  --toastify-color-light: var(--background-color);
  --toastify-text-color-light: var(--primary-color);
  --toastify-color-info: var(--primary-color);
  --toastify-color-progress-light: var(--primary-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.button-primary {
  @apply button-base border-primary text-primary bg-background;
}

.button-primary:hover {
  @apply button-base text-secondary border-secondary;
}

.button-primary-filled {
  @apply button-base border-primary bg-primary text-background;
}

.button-primary-filled:hover {
  @apply button-base border-secondary bg-secondary;
}

.button-secondary {
  @apply button-base border-secondary text-secondary bg-background;
}

.button-secondary-filled {
  @apply button-base border-secondary bg-secondary text-background;
}

.button-neutral {
  @apply button-base border-neutral bg-background text-neutral;
}

.button-neutral-filled {
  @apply button-base border-neutral bg-neutral text-background;
}

.button-danger {
  @apply button-base border-danger text-danger;
}

.button-danger-filled {
  @apply button-base border-danger bg-danger text-background;
}

.select-base {
  @apply bg-background border border-neutral text-primary font-bold rounded-lg;
}

.select-base:focus {
  outline: none;
}

.input-base {
  @apply text-primary border-primary rounded-lg bg-background border text-center p-1 w-full;
}

.input-base[type='number'] {
  @apply pr-0; /* Add padding to the left */
}

.input-base:focus {
  @apply border-primary;
}

input[type='checkbox'] {
  @apply w-6 h-6 border-primary border rounded-sm bg-background text-primary appearance-none checked:border-secondary;
}

input[type='checkbox']:checked::before {
  content: '✔';
  color: var(--secondary-color);
  display: block;
  text-align: center;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.app-container {
  @apply min-h-screen;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  background-color: var(--secondary-color);
  color: var(--background-color);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 95%;
  max-width: 95%;
  height: 95%;
  max-height: 95%;
  max-height: 600px;
  max-width: 1000px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
