$not-selected-color: rgb(205, 0, 0);
$selected-color: rgb(0, 174, 75);
$scrollbar-border-radius: 15px;
$default-element-border: $element-border solid $border;

// For generic classes
*[cssClass~='header-underline'] {
  color: $neutral;
  border-bottom: 1px solid;
  border-color: $neutral;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

*[cssClass~='bold'] {
  font-weight: bold;
}

*[cssClass~='hand-separator'] {
  color: $neutral;
}

*[cssClass~='neutral'] {
  color: $neutral;
}

*[cssClass~='lr-padding'] {
  padding-left: 10px;
  padding-right: 10px;
}

// specific classes
#informationLabel {
  padding: 5px 25px 5px 25px;
}

// Other Elements
QCheckBox::indicator {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 3px;
  &:unchecked {
    border-color: $not-selected-color;
  }
  &:disabled {
    border-color: $neutral;
  }
  &:checked {
    image: url(./src/ui_elements/check.png);
    border-color: $selected-color;
  }
}

QWidget {
  color: $primary;
  background-color: $background;
  &:item:selected {
    color: $secondary;
    font-weight: bold;
    border: 3px solid $secondary;
    border-radius: 3px;
  }
  &[cssClass~='secondary'] {
    color: $secondary;
  }
  &[cssClass~='left-shift'] {
    margin: 5px 0px 5px 20px;
  }
}

QTabWidget::pane {
  border: 1px solid $border;
  top: 1px;
}

QTabBar::tab {
  background-color: $border;
  font-weight: bold;
  color: $tabborder;
  border-width: 1px;
  border-color: $tabborder;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px 5px 0px;
  width: 193px;
  &:selected {
    color: $tabborder;
    background-color: $primary;
  }
  &:disabled {
    text-decoration: line-through;
  }
}

.QSlider {
  min-height: 30px;
  max-height: 50px;
  &::groove:horizontal {
    border: 1px solid;
    height: 5px;
    background: $border;
    margin: 0 12px;
  }
  &::handle:horizontal {
    background: $primary;
    border-radius: $scrollbar-border-radius;
    width: 40px;
    height: 30px;
    margin: -24px -12px;
    &:pressed {
      background: $secondary;
    }
  }
}

QPushButton {
  background-color: $background;
  color: $primary;
  border-width: 3px;
  border-color: $primary;
  border-style: solid;
  border-radius: 7px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  &:checked,
  &:pressed {
    color: $secondary;
    border-color: $secondary;
  }
  /* Inverted */
  &[cssClass~='btn-inverted'] {
    background-color: $primary;
    color: $background;
    &:checked,
    &:pressed {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  /* for teams */
  &[cssClass~='btn-teamone'] {
    background-color: $teamone;
    border-color: $teamone;
    color: $background;
  }
  &[cssClass~='btn-teamtwo'] {
    background-color: $teamtwo;
    border-color: $teamtwo;
    color: $background;
  }
}

QProgressBar {
  background-color: $progressbg;
  color: $background;
  border: 2px $progressbg;
  border-radius: 5px;
  text-align: center;
  &::chunk {
    border: 2px $progressbg;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $progressbar;
    /*background-color: rgb(0, 255, 132);
    width: 40px;
    margin: 0.5px;*/
  }
}

QComboBox {
  color: $primary;
  border: $default-element-border;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 1px 18px 1px 5px;
  min-width: 6em;
  &:on {
    /* shift the text when the popup opens */
    border: $default-element-border;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
    color: $secondary;
  }
  & QAbstractItemView {
    border: $default-element-border;
  }
}

QLineEdit {
  padding: 1px;
  border-style: solid;
  border: $default-element-border;
  border-radius: 5;
}

QListWidget {
  border: $default-element-border;
  border-bottom-right-radius: $scrollbar-border-radius + 6px;
  border-top-right-radius: $scrollbar-border-radius + 6px;
  & QScrollBar:vertical {
    border-right: 0px solid $border;
  }
}

QScrollArea QScrollBar:vertical {
  border-right: $default-element-border;
}

/* Moving List Widget here from the single objects */
QScrollBar:vertical {
  border: $default-element-border;
  border-right: 1px solid $border;
  border-radius: $scrollbar-border-radius;
  background: $background;
  width: 40px;
  margin: 25px 0px 25px 0px;
}

QScrollBar::handle:vertical {
  background: $primary;
  border-radius: $scrollbar-border-radius;
  &:pressed {
    background-color: $secondary;
  }
}

// bottom button
QScrollBar::add-line:vertical {
  border: $default-element-border;
  border-bottom-left-radius: $scrollbar-border-radius;
  border-bottom-right-radius: $scrollbar-border-radius;
  background-color: $border;
  height: 38px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

// top button
QScrollBar::sub-line:vertical {
  border: $default-element-border;
  border-top-left-radius: $scrollbar-border-radius;
  border-top-right-radius: $scrollbar-border-radius;
  background-color: $border;
  height: 38px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

// remove the grid thingy from bg
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none;
}

QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:vertical:pressed {
  background-color: $secondary;
  border-color: $secondary;
}

/* Message box from system */
.QMessageBox {
  font-size: 16pt;
}

QMessageBox {
  background-color: $background;
  font-size: 16pt;
  & QPushButton {
    background-color: $primary;
    color: $background;
    font-size: 30pt;
    padding: 5px 20px 5px 20px;
    min-width: 120px;
  }
  & QLabel {
    color: $primary;
  }
}

QDateEdit,
QTimeEdit {
  border: $default-element-border;
  & QSpinBox {
    width: 50px;
    height: 50px;
  }
  &::down-arrow,
  &::up-arrow {
    border: 3px solid $background;
    background-color: $primary;
    &:pressed {
      background-color: $secondary;
    }
  }
  &::down-arrow {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  &::up-arrow {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
