$primary: #00e54c;
$secondary: #00cab9;
$neutral: #489869;
$background: #111111;
$border: #586c5b;
$progressbar: #bfe500;
$progressbg: #a0ab8c;
$tabborder: #fcfcd6;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
