*[cssClass~='header-underline'] {
  color: #489869;
  border-bottom: 1px solid;
  border-color: #489869;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

*[cssClass~='bold'] {
  font-weight: bold; }

*[cssClass~='hand-separator'] {
  color: #489869; }

*[cssClass~='neutral'] {
  color: #489869; }

*[cssClass~='lr-padding'] {
  padding-left: 10px;
  padding-right: 10px; }

*[cssClass~='center'] {
  text-align: center; }

*[cssClass~='right'] {
  text-align: right; }

*[cssClass~='mr'] {
  margin-right: 10px; }

*[cssClass~='ml'] {
  margin-left: 10px; }

#informationLabel {
  padding: 5px 25px 5px 25px; }

QCheckBox::indicator {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 3px; }
  QCheckBox::indicator:unchecked {
    border-color: #586c5b; }
  QCheckBox::indicator:disabled {
    border-color: #111111; }
  QCheckBox::indicator:checked {
    image: url(./src/ui_elements/check.png);
    border-color: #00ae4b; }

QWidget {
  color: #00dd4a;
  background-color: #111111; }
  QWidget:item:selected {
    color: #00e4d1;
    font-weight: bold;
    border: 3px solid #00e4d1;
    border-radius: 3px; }
  QWidget[cssClass~='secondary'] {
    color: #00e4d1; }
  QWidget[cssClass~='left-shift'] {
    margin: 5px 0px 5px 20px; }
  QWidget[cssClass~='right-shift'] {
    margin: 5px 20px 5px 0px; }

QTabWidget::pane {
  border: 1px solid #586c5b;
  top: 1px; }

QTabBar::tab {
  background-color: #586c5b;
  font-weight: bold;
  color: #000000;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px 5px 0px;
  width: 193px; }
  QTabBar::tab:selected {
    color: #000000;
    background-color: #00dd4a; }
  QTabBar::tab:disabled {
    text-decoration: line-through; }

.QSlider {
  min-height: 30px;
  max-height: 50px; }
  .QSlider::groove:horizontal {
    border: 1px solid;
    height: 5px;
    background: #586c5b;
    margin: 0 12px; }
  .QSlider::handle:horizontal {
    background: #00dd4a;
    border-radius: 15px;
    width: 40px;
    height: 30px;
    margin: -24px -12px; }
    .QSlider::handle:horizontal:pressed {
      background: #00e4d1; }

QPushButton {
  background-color: #111111;
  color: #00dd4a;
  border: 3px solid #00dd4a;
  border-radius: 7px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  /* Inverted */
  /* for teams */ }
  QPushButton:checked, QPushButton:pressed {
    color: #00e4d1;
    border-color: #00e4d1; }
  QPushButton[cssClass~='btn-inverted'] {
    background-color: #00dd4a;
    color: #111111; }
    QPushButton[cssClass~='btn-inverted']:checked, QPushButton[cssClass~='btn-inverted']:pressed {
      background-color: #00e4d1;
      border-color: #00e4d1; }
    QPushButton[cssClass~='btn-inverted'][cssClass~='destructive'] {
      background-color: #d00000;
      color: #111111; }
      QPushButton[cssClass~='btn-inverted'][cssClass~='destructive']:pressed {
        background-color: #d00000;
        border-color: #d00000; }
    QPushButton[cssClass~='btn-inverted'][cssClass~='neutral'] {
      background-color: #489869;
      color: #111111; }
      QPushButton[cssClass~='btn-inverted'][cssClass~='neutral']:pressed {
        background-color: #489869;
        border-color: #489869; }
  QPushButton[cssClass~='no-border'] {
    border-width: 0;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px; }
  QPushButton[cssClass~='round'] {
    border-radius: 20px; }
  QPushButton[cssClass~='secondary'] {
    color: #00e4d1;
    border-color: #00e4d1; }
    QPushButton[cssClass~='secondary']:pressed {
      color: #00dd4a;
      border-color: #00dd4a; }
  QPushButton[cssClass~='destructive'] {
    color: #d00000;
    border-color: #d00000; }
    QPushButton[cssClass~='destructive']:pressed {
      color: #d00000;
      border-color: #d00000; }
  QPushButton[cssClass~='neutral'] {
    color: #489869;
    border-color: #489869; }
    QPushButton[cssClass~='neutral']:pressed {
      color: #489869;
      border-color: #489869; }
  QPushButton[cssClass~='btn-teamone'] {
    background-color: #00dd4a;
    border-color: #00dd4a;
    color: #111111; }
  QPushButton[cssClass~='btn-teamtwo'] {
    background-color: #00e4d1;
    border-color: #00e4d1;
    color: #111111; }

QProgressBar {
  background-color: #a0ab8c;
  color: #111111;
  border: 2px #a0ab8c;
  border-radius: 20px;
  text-align: center; }
  QProgressBar::chunk {
    border: 2px #a0ab8c;
    border-radius: 20px;
    background-color: #82e500; }

QComboBox {
  color: #00dd4a;
  border: 2px solid #586c5b;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 1px 18px 1px 5px;
  min-width: 6em; }
  QComboBox:on {
    /* shift the text when the popup opens */
    border: 2px solid #586c5b;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
    color: #00e4d1; }
  QComboBox QAbstractItemView {
    border: 2px solid #586c5b; }

QLineEdit {
  padding: 1px;
  border-style: solid;
  border: 2px solid #586c5b;
  border-radius: 5; }

QListWidget {
  border: 2px solid #586c5b;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px; }
  QListWidget QScrollBar:vertical {
    border-right: 0px solid #586c5b; }

QScrollArea QScrollBar:vertical {
  border-right: 2px solid #586c5b; }

/* Moving List Widget here from the single objects */
QScrollBar:vertical {
  border: 2px solid #586c5b;
  border-right: 1px solid #586c5b;
  border-radius: 15px;
  background: #111111;
  width: 40px;
  margin: 25px 0px 25px 0px; }

QScrollBar::handle:vertical {
  background: #00dd4a;
  border-radius: 15px; }
  QScrollBar::handle:vertical:pressed {
    background-color: #00e4d1; }

QScrollBar::add-line:vertical {
  border: 2px solid #586c5b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #586c5b;
  height: 38px;
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 2px solid #586c5b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #586c5b;
  height: 38px;
  subcontrol-position: top;
  subcontrol-origin: margin; }

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none; }

QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:vertical:pressed {
  background-color: #00e4d1;
  border-color: #00e4d1; }

/* Message box from system */
.QMessageBox {
  font-size: 16pt; }

QMessageBox {
  background-color: #111111;
  font-size: 16pt; }
  QMessageBox QPushButton {
    background-color: #00dd4a;
    color: #111111;
    font-size: 30pt;
    padding: 5px 20px 5px 20px;
    min-width: 120px; }
  QMessageBox QLabel {
    color: #00dd4a; }

QDateEdit,
QTimeEdit {
  border: 2px solid #586c5b; }
  QDateEdit QSpinBox,
  QTimeEdit QSpinBox {
    width: 50px;
    height: 50px; }
  QDateEdit::down-arrow, QDateEdit::up-arrow,
  QTimeEdit::down-arrow,
  QTimeEdit::up-arrow {
    border: 3px solid #111111;
    background-color: #00dd4a; }
    QDateEdit::down-arrow:pressed, QDateEdit::up-arrow:pressed,
    QTimeEdit::down-arrow:pressed,
    QTimeEdit::up-arrow:pressed {
      background-color: #00e4d1; }
  QDateEdit::down-arrow,
  QTimeEdit::down-arrow {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }
  QDateEdit::up-arrow,
  QTimeEdit::up-arrow {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
