$primary: #00dd4a;
$secondary: #00e4d1;
$destructive: #d00000;
$neutral: #489869;
$background: #111111;
$border: #586c5b;
$progressbar: #82e500;
$progressbg: #a0ab8c;
$tabborder: #000000;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
