$primary: rgb(0, 123, 255);
$secondary: rgb(9, 22, 45);
$neutral: rgb(68, 100, 141);
$background: rgb(218, 217, 217);
$border: rgb(11, 14, 65);
$progressbar: rgb(27, 27, 27);
$progressbg: rgb(166, 166, 166);
$tabborder: rgb(41, 41, 41);
$sliderspine: #393939;
$teamone: rgb(235, 64, 52);
$teamtwo: rgb(52, 76, 235);

$element-border: 2px;

@import 'elements';
