$primary: #007bff;
$secondary: #01276a;
$destructive: #d00000;
$neutral: #44648d;
$background: #dad9d9;
$border: #0b0e41;
$progressbar: #1b1b1b;
$progressbg: #a6a6a6;
$tabborder: #b9b9b9;
$teamone: #eb4034;
$teamtwo: #344ceb;

$element-border: 2px;

@import 'elements';
