*[cssClass~='header-underline'] {
  color: #5761a1;
  border-bottom: 1px solid;
  border-color: #5761a1;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

*[cssClass~='bold'] {
  font-weight: bold; }

*[cssClass~='hand-separator'] {
  color: #5761a1; }

*[cssClass~='neutral'] {
  color: #5761a1; }

*[cssClass~='lr-padding'] {
  padding-left: 10px;
  padding-right: 10px; }

#informationLabel {
  padding: 5px 25px 5px 25px; }

QCheckBox::indicator {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 3px; }
  QCheckBox::indicator:unchecked {
    border-color: #cd0000; }
  QCheckBox::indicator:disabled {
    border-color: #5761a1; }
  QCheckBox::indicator:checked {
    image: url(./src/ui_elements/check.png);
    border-color: #00ae4b; }

QWidget {
  color: #3a4cbf;
  background-color: #0d0d0d; }
  QWidget:item:selected {
    color: #ec407a;
    font-weight: bold;
    border: 3px solid #ec407a;
    border-radius: 3px; }
  QWidget[cssClass~='secondary'] {
    color: #ec407a; }
  QWidget[cssClass~='left-shift'] {
    margin: 5px 0px 5px 20px; }

QTabWidget::pane {
  border: 1px solid #6f6f87;
  top: 1px; }

QTabBar::tab {
  background-color: #6f6f87;
  font-weight: bold;
  color: #c1cfe7;
  border-width: 1px;
  border-color: #c1cfe7;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px 5px 0px;
  width: 193px; }
  QTabBar::tab:selected {
    color: #c1cfe7;
    background-color: #3a4cbf; }
  QTabBar::tab:disabled {
    text-decoration: line-through; }

.QSlider {
  min-height: 30px;
  max-height: 50px; }
  .QSlider::groove:horizontal {
    border: 1px solid;
    height: 5px;
    background: #6f6f87;
    margin: 0 12px; }
  .QSlider::handle:horizontal {
    background: #3a4cbf;
    border-radius: 15px;
    width: 40px;
    height: 30px;
    margin: -24px -12px; }
    .QSlider::handle:horizontal:pressed {
      background: #ec407a; }

QPushButton {
  background-color: #0d0d0d;
  color: #3a4cbf;
  border-width: 3px;
  border-color: #3a4cbf;
  border-style: solid;
  border-radius: 7px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  /* Inverted */
  /* for teams */ }
  QPushButton:checked, QPushButton:pressed {
    color: #ec407a;
    border-color: #ec407a; }
  QPushButton[cssClass~='btn-inverted'] {
    background-color: #3a4cbf;
    color: #0d0d0d; }
    QPushButton[cssClass~='btn-inverted']:checked, QPushButton[cssClass~='btn-inverted']:pressed {
      background-color: #ec407a;
      border-color: #ec407a; }
  QPushButton[cssClass~='btn-teamone'] {
    background-color: #3a4cbf;
    border-color: #3a4cbf;
    color: #0d0d0d; }
  QPushButton[cssClass~='btn-teamtwo'] {
    background-color: #ec407a;
    border-color: #ec407a;
    color: #0d0d0d; }

QProgressBar {
  background-color: #9395ab;
  color: #0d0d0d;
  border: 2px #9395ab;
  border-radius: 5px;
  text-align: center; }
  QProgressBar::chunk {
    border: 2px #9395ab;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #666ad1;
    /*background-color: rgb(0, 255, 132);
    width: 40px;
    margin: 0.5px;*/ }

QComboBox {
  color: #3a4cbf;
  border: 2px solid #6f6f87;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 1px 18px 1px 5px;
  min-width: 6em; }
  QComboBox:on {
    /* shift the text when the popup opens */
    border: 2px solid #6f6f87;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
    color: #ec407a; }
  QComboBox QAbstractItemView {
    border: 2px solid #6f6f87; }

QLineEdit {
  padding: 1px;
  border-style: solid;
  border: 2px solid #6f6f87;
  border-radius: 5; }

QListWidget {
  border: 2px solid #6f6f87;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px; }

/* Moving List Widget here from the single objects */
QScrollBar:vertical {
  border: 2px solid #6f6f87;
  border-right: 0px solid #6f6f87;
  border-radius: 15px;
  background: #0d0d0d;
  width: 40px;
  margin: 25px 0 25px 0; }

QScrollBar::handle:vertical {
  background: #3a4cbf;
  border-radius: 15px; }
  QScrollBar::handle:vertical:pressed {
    background-color: #ec407a; }

QScrollBar::add-line:vertical {
  border: 2px solid #6f6f87;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #6f6f87;
  height: 38px;
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 2px solid #6f6f87;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #6f6f87;
  height: 38px;
  subcontrol-position: top;
  subcontrol-origin: margin; }

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none; }

QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:vertical:pressed {
  background-color: #ec407a;
  border-color: #ec407a; }

/* Message box from system */
.QMessageBox {
  font-size: 16pt; }

QMessageBox {
  background-color: #0d0d0d;
  font-size: 16pt; }
  QMessageBox QPushButton {
    background-color: #3a4cbf;
    color: #0d0d0d;
    font-size: 30pt;
    padding: 5px 20px 5px 20px;
    min-width: 120px; }
  QMessageBox QLabel {
    color: #3a4cbf; }

QDateEdit,
QTimeEdit {
  border: 2px solid #6f6f87; }
  QDateEdit QSpinBox,
  QTimeEdit QSpinBox {
    width: 50px;
    height: 50px; }
  QDateEdit::down-arrow, QDateEdit::up-arrow,
  QTimeEdit::down-arrow,
  QTimeEdit::up-arrow {
    border: 3px solid #0d0d0d;
    background-color: #3a4cbf; }
    QDateEdit::down-arrow:pressed, QDateEdit::up-arrow:pressed,
    QTimeEdit::down-arrow:pressed,
    QTimeEdit::up-arrow:pressed {
      background-color: #ec407a; }
  QDateEdit::down-arrow,
  QTimeEdit::down-arrow {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }
  QDateEdit::up-arrow,
  QTimeEdit::up-arrow {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
