$primary: #3a4cbf;
$secondary: #ec407a;
$neutral: #5761a1;
$background: #0d0d0d;
$border: #6f6f87;
$progressbar: #666ad1;
$progressbg: #9395ab;
$tabborder: #c1cfe7;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
