QCheckBox::indicator {
  width: 18px;
  height: 18px; }

QCheckBox::indicator:unchecked {
  border: 2px solid;
  border-radius: 3px;
  border-color: #cd0000; }

QCheckBox::indicator:disabled {
  border: 2px solid;
  border-radius: 3px;
  border-color: #96adba; }

QCheckBox::indicator:checked {
  image: url(./src/ui_elements/check.png);
  border: 2px solid;
  border-radius: 3px;
  border-color: #00ae4b; }

QWidget {
  color: #007bff;
  background-color: black; }

QTabBar::tab:disabled {
  text-decoration: line-through; }

QWidget[cssClass~='secondary'] {
  color: #ef9700; }

QWidget[cssClass~='left-shift'] {
  margin: 5px 0px 5px 20px; }

*[cssClass~='header-underline'] {
  color: #96adba;
  border-bottom: 1px solid;
  border-color: #96adba;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

*[cssClass~='bold'] {
  font-weight: bold; }

*[cssClass~='hand-seperator'] {
  color: #96adba; }

*[cssClass~='neutral'] {
  color: #96adba; }

QWidget:item:selected {
  color: #ef9700;
  font-weight: bold;
  border: 3px solid #ef9700; }

QTabWidget::pane {
  border: 1px solid #616161;
  top: 1px; }

QTabBar::tab {
  background-color: #616161;
  color: white;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px 5px 0px;
  width: 193px; }

QTabBar::tab:selected {
  color: white;
  background-color: #007bff; }

.QMessageBox {
  font-size: 16pt; }

.QSlider {
  min-height: 30px;
  max-height: 50px; }

.QSlider::groove:horizontal {
  border: 1px solid;
  height: 5px;
  background: #393939;
  margin: 0 12px; }

.QSlider::handle:horizontal {
  background: #007bff;
  width: 30px;
  height: 30px;
  margin: -24px -12px; }

QPushButton {
  background-color: black;
  color: #007bff;
  border-width: 3px;
  border-color: #007bff;
  border-style: solid;
  border-radius: 7;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold; }

QPushButton:checked,
QPushButton:pressed {
  color: #ef9700;
  border-color: #ef9700; }

/* Inverted */
QPushButton[cssClass~='btn-inverted'] {
  background-color: #007bff;
  color: black;
  border-width: 3px;
  border-color: #007bff;
  border-style: solid;
  border-radius: 7;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px; }

QPushButton:pressed[cssClass~='btn-inverted'],
QPushButton:checked[cssClass~='btn-inverted'] {
  background-color: #ef9700;
  border-color: #ef9700; }

QPushButton[cssClass~='btn-teamone'] {
  background-color: #007bff;
  border-color: #007bff;
  color: black; }

QPushButton[cssClass~='btn-teamtwo'] {
  background-color: #ef9700;
  border-color: #ef9700;
  color: black; }

QProgressBar {
  background-color: #a6a6a6;
  color: black;
  border: 2px #a6a6a6;
  border-radius: 5px;
  text-align: center; }

QProgressBar::chunk {
  border: 2px #a6a6a6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00e9f5;
  /*background-color: rgb(0, 255, 132);
  width: 40px;
  margin: 0.5px;*/ }

QComboBox {
  color: #007bff;
  border: 2px solid #616161;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 1px 18px 1px 5px;
  min-width: 6em; }

QComboBox:on {
  /* shift the text when the popup opens */
  border: 2px solid #616161;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 0px;
  color: #ef9700; }

QComboBox QAbstractItemView {
  border: 2px solid #616161; }

QLineEdit {
  padding: 1px;
  border-style: solid;
  border: 2px solid #616161;
  border-radius: 5; }

QListWidget {
  border: 1px solid #616161; }

*[cssClass~='lr-padding'] {
  padding-left: 10px;
  padding-right: 10px; }

/* Moving List Widget here from the single objects */
QScrollBar:vertical {
  border: 1px solid #616161;
  background: #616161;
  width: 35px;
  margin: 36px 0 36px 0; }

QScrollBar::handle:vertical {
  background: black; }

QScrollBar::add-line:vertical {
  border: 1px solid #616161;
  background: black;
  height: 35px;
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 1px solid #616161;
  background: black;
  height: 35px;
  subcontrol-position: top;
  subcontrol-origin: margin; }

QScrollBar::down-arrow:vertical,
QScrollBar::up-arrow:vertical {
  width: 20px;
  height: 20px; }

QScrollBar::down-arrow:vertical {
  image: url(./src/ui_elements/down.png); }

QScrollBar::up-arrow:vertical {
  image: url(./src/ui_elements/up.png); }

#option_button {
  image: url(./src/ui_elements/options.png); }

#informationLabel {
  padding: 5px 25px 5px 25px; }

/* Message box from system */
QMessageBox QPushButton {
  background-color: #007bff;
  color: black;
  font-size: 30pt;
  padding: 5px 20px 5px 20px;
  min-width: 120px; }

QMessageBox {
  background-color: black;
  font-size: 16pt; }

QMessageBox QLabel {
  color: #007bff; }
