$primary: #007bff;
$secondary: #ef9700;
$neutral: #96adba;
$background: #0d0d0d;
$border: #616161;
$progressbar: #00e9f5;
$progressbg: #a6a6a6;
$tabborder: #ffffff;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
