$primary: #d167ff;
$secondary: #01e6ff;
$destructive: #d00000;
$neutral: #b694ba;
$background: #1b1b1b;
$border: #616161;
$progressbar: #55bbff;
$progressbg: #a6a6a6;
$tabborder: #ebebeb;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
