$primary: #55ecf7;
$secondary: #fff70f;
$destructive: #d00000;
$neutral: #96adba;
$background: #2b2b2b;
$border: #616161;
$progressbar: #55ecf7;
$progressbg: #a6a6a6;
$tabborder: #ffffff;
$teamone: $primary;
$teamtwo: $secondary;

$element-border: 2px;

@import 'elements';
