[MASTER]
extension-pkg-whitelist=PyQt5
ignore-paths=.*/ui_elements/,.*/addon_skeleton.py

[MAIN]

[MESSAGES CONTROL]
disable=missing-docstring,no-name-in-module,line-too-long,R0902,R0903,R0801,R0401,R0912

[FORMAT]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,l,x,y,ex,df,rc,ax,w,app,id
max-line-length=120

[DESIGN]
# Maximum number of locals for function / method body
max-locals=25
max-attributes=10
max-public-methods=100

# Maximum number of arguments for function / method
max-args=10