[MESSAGES CONTROL]
disable=missing-docstring,no-name-in-module

[FORMAT]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,x,y,ex,df,rc,ax,w,app,id

[DESIGN]
# Maximum number of locals for function / method body
max-locals=25
max-attributes=10
max-public-methods=100

# Maximum number of arguments for function / method
max-args=10