* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  background-color: rgb(14, 17, 23);
}

ul {
  list-style-type: none;
}

.App {
  max-height: 100vh;
}

.clock {
  font-weight: 600;
  font-size: 6rem;
}

.navbar {
  background-color: rgb(14, 17, 23);
  color: #fff;
  height: 10vh;
  padding: 0 20px 0 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 2rem;
}

.treemap {
  height: 89vh;
}
