name: Manual Build & publish CocktailBerry images
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version of the image'
        required: true
        default: 'latest'
      service:
        description: 'Service to build (microservice, dashboard-be, dashboard-fe)'
        required: true
        type: choice
        options:
          - backend
          - frontend
          - service
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Build and push Docker image CocktailBerry
        uses: docker/build-push-action@v5
        with:
          context: ${{ contains(github.event.inputs.service, 'service') && './microservice/' || contains(github.event.inputs.service, 'backend') && './dashboard/backend/' || './dashboard/frontend/' }}
          file: ${{ contains(github.event.inputs.service, 'service') && './microservice/Dockerfile' || contains(github.event.inputs.service, 'backend') && './dashboard/backend/Dockerfile' || './dashboard/frontend/Dockerfile' }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ contains(github.event.inputs.service, 'service') && 'andrewo92/cocktailberry-microservice' || contains(github.event.inputs.service, 'backend') && 'andrewo92/cocktailberry-dashboard-be' || 'andrewo92/cocktailberry-dashboard-fe' }}:latest,${{ contains(github.event.inputs.service, 'service') && 'andrewo92/cocktailberry-microservice' || contains(github.event.inputs.service, 'backend') && 'andrewo92/cocktailberry-dashboard-be' || 'andrewo92/cocktailberry-dashboard-fe' }}:${{ github.event.inputs.version }}
